body{
    min-width: 320px;
    font-size: 14px;
    font-family: tahoma, arial, helvetica, sans-serif;
    color:#43595F;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    color:#43595F;
    text-decoration: underline;
}
a:hover{
    color:#43595F;
    text-decoration: none;
}

.dark-style{
    color:#FFFFFF;
    background-color: #43595F;
}

.dark-style a{
    
    color:#FEA355;
    text-decoration-style: underline;
}
.dark-style a:hover{
    color:#FEA355;
    text-decoration-style: none;
}


header{
    background-image:url(/images/rez_top.jpg); 
    background-repeat:repeat-x; 
    height:77px; 
    background-position:right top;
}

.nav-item a{
    background-image:url(/images/m1.jpg);
    width:98px;
    height:71px;
    vertical-align: middle;
}



.truck{
    min-height: 282px;
    background-color: yellow;
}
.truck-main{
    background-image:url(/images/big_foto.jpg); 
    background-repeat: no-repeat;
    background-position: left top;
    min-width: 766px;
    width:766px;
}
.truck-left{
    background-image:url(/images/rez_top1.jpg); 
    background-repeat: repeat-x;
    background-position: left top;
}

.truck-right{
    background-image:url(/images/rez_top2.jpg); 
    background-repeat: repeat-x;
    background-position: left top;
}

.main-content{
    min-height: 400px;
}

.main-left{
    z-index: 1;
    top:-71px;
    min-height: 400px;
    border-top: white 2px solid;
}

.shadow-width{
    width: 12px;
    max-width: 12px;    
    padding: 0 0;
}

.main-shadow{
    z-index: 1;
    top:-71px;
    background-position: right top;
    background-repeat: no-repeat;
    background-image: url(/images/ch_center.jpg);
    min-height: 324px;    
}


footer .row{
    height:50px;
    min-height: 50px;
}
footer .col{
    text-align: center;
}

footer .footer-left{
    border-top: solid 1px white;
}
footer .footer-right{
    border-top: solid 1px #43595F;
}

.main-right{
    
}